<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item class="vertical-space">
      <h1 class="center">ToDo App</h1>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button
    class="ion-padding"
    expand="block"
    shape="round"
    color="secondary"
    (click)="login()"
  >
    Login
  </ion-button>
  <ion-button
    expand="block"
    fill="clear"
    color="primary"
    (click)="gotoSignup()"
  >
    Don't have an account? Register here
  </ion-button>
</ion-content>
