<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title *ngIf="!todo;else updateTodoTitle">Add a new ToDo</ion-title>
    <ng-template #updateTodoTitle>
      <ion-title>Edit ToDo</ion-title>
    </ng-template>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Due Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>
  </ion-list>
  <ion-button
    *ngIf="!todo; else updateTodoButton"
    class="ion-padding"
    expand="block"
    shape="round"
    color="secondary"
    (click)="createTodo()"
  >
    Add ToDo
  </ion-button>
  <ng-template #updateTodoButton>
    <ion-button
      class="ion-padding"
      expand="block"
      shape="round"
      color="secondary"
      (click)="updateTodo()"
    >
      Update ToDo
    </ion-button>
  </ng-template>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        [showDefaultButtons]="true"
        min="2024"
        presentation="date"
        id="datetime"
        [(ngModel)]="dueDate"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
